<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>Using the TreeView control</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
<asp:AdRotator ID="AdRotator1" runat="server"
     DataSourceId="SqlDataSource1" AlternateTextField="AlternateTF"
     ImageUrlField="Image" NavigateUrlField="NavigateUrl" />
    </div>
    </form>
</body>
</html>

