<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:SiteMapDataSource ID="SiteMapDataSource1" Runat="server" />
        <asp:TreeView ID="TreeView1" DataSourceID="SiteMapDataSource1" runat="server" />
    </div>
    </form>
</body>
</html>