﻿<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
<asp:LinqDataSource ID="LinqDataSource1" runat="server"
    ContextTypeName="CS.NorthwindCSDataContext" TableName="Customers"
    EnableInsert="True" EnableUpdate="True" EnableDelete="True" 
    EntityTypeName="">
        </asp:LinqDataSource>
        <asp:GridView ID="GridView1" runat="server" DataSourceID="LinqDataSource1" 
            AutoGenerateColumns="True" DataKeyNames="CustomerID" >           
        </asp:GridView>
    </div>
    </form>
</body>
</html>
