﻿<%@ Page Language="VB" %>

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>My ASP.NET Page</title>    
    
    <style type="text/css">
       <!--
          body {
             font-family: Verdana;
          }

          a:link {
             text-decoration: none;
             color: blue;
          }

          a:visited {
             text-decoration: none;
             color: blue;
          }

          a:hover {
             text-decoration: underline;
             color: red;
          }

       -->
    </style>
    
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <a href="Default.aspx">Home</a>
    </div>
    </form>
</body>
</html>
