﻿body
{
 font-size: x-small;
 font-family: Verdana;
 color: #004000;
}

A:link {
 color: Blue;
 text-decoration: none;
}

A:visited 
{
 color: Blue;
 text-decoration: none;	
}

A:hover {
 COLOR: Red;
 text-decoration: underline overline;
}
