﻿<%@ Page Language="C#" %>

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>AdRotator Page</title>
</head>
<body>
    <form id="form1" runat="server">
        <asp:AdRotator ID="AdRotator1" runat="server" 
         AdvertisementFile="MyAds.xml" />
        <p>Lorem ipsum dolor sit 
        amet, consectetuer adipiscing elit. Duis vel justo. Aliquam 
        adipiscing. In mattis volutpat urna. Donec adipiscing, nisl eget 
        dictum egestas, felis nulla ornare ligula, ut bibendum pede augue 
        eu augue. Sed vel risus nec urna pharetra imperdiet. Aenean 
        semper. Sed ullamcorper auctor sapien. Suspendisse luctus. Ut ac 
        nibh. Nam lorem. Aliquam dictum aliquam purus.</p>
    </form>
</body>
</html>
