﻿<%@ Page Language="VB" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Hello World</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>

       <a href="Listing25-1.aspx">25-1</a> | 
        <a href="Listing25-2.aspx">25-2</a> | 
        <a href="Listing25-3.aspx">25-3</a> | 
        <a href="Listing25-4.aspx">25-4</a> | 
        <a href="Listing25-5.aspx">25-5</a> | 
        <a href="Listing25-6.aspx">25-6</a> | 
        <a href="Listing25-7.aspx">25-7</a> | 
        <a href="Listing25-8.aspx">25-8</a> | 
        <a href="Listing25-9.aspx">25-9</a> | 
        <a href="Listing25-10.aspx">25-10</a> | 
        <a href="Listing25-11.aspx">25-11</a> | 
        <a href="Listing25-12.aspx">25-12</a> | 
        <a href="Listing25-13.aspx">25-13</a> | 
        <a href="Listing25-14.aspx">25-14</a> | 
        <a href="Listing25-15.aspx">25-15</a> | 
        <a href="Listing25-16.aspx">25-16</a> | 
        <a href="Listing25-17.aspx">25-17</a> | 
        <a href="Listing25-18.aspx">25-18</a> | 
        <a href="Listing25-19.aspx">25-19</a> | 
        <a href="Listing25-20.aspx">25-20</a> | 
        <a href="Listing25-21.aspx">25-21</a> | 
        <a href="Listing25-22.aspx">25-22</a> | 
        <a href="Listing25-23.aspx">25-23</a> | 
        <a href="Listing25-24.aspx">25-24</a> | 
        <a href="Listing25-25.aspx">25-25</a> | 
        <a href="Listing25-26.aspx">25-26</a> | 
        <a href="Listing25-27.aspx">25-27</a> | 
        <a href="Listing25-28.aspx">25-28</a> | 
        <a href="Listing25-29.aspx">25-29</a>

<%--        <cc1:ServerControl45 ID="ServerControl11" runat="server"></cc1:ServerControl45>

       <br /><br /><br />

        <cc1:MyServerControl ID="MyServerControl1" runat="server" />--%>
    </div>
    </form>

 

</body>
</html>