﻿<%@ Page Language="VB" %>

<%--<%@ Register Assembly="Chapter26VBControl" Namespace="WebControlLibrary1" TagPrefix="cc1" %>
--%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">
    Protected Sub Page_Load(ByVal sender As Object, ByVal e As System.EventArgs)
        'Me.TemplatedControl1.DataBind()
    End Sub
</script>

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>Templated Web Controls</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
<%--        <cc1:TemplatedControl Name="John Doe" Text="Hello World!" 
            ID="TemplatedControl1" runat="server">
            <MessageTemplate>The user '<%# Container.Name %>' 
                has a message for you: <br />"<%#Container.Text%>"
            </MessageTemplate>
        </cc1:TemplatedControl>--%>
    </div>
    </form>
</body>
</html>
