﻿<%@ Page Language="VB" %>
<%@ Register src="Listing25-5.ascx" tagname="Listing25" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">
    Protected Sub Page_Load(ByVal sender As Object, ByVal e As System.EventArgs)
        Me.Listing251.Text = "The quick brown fox jumped over the lazy dog"
    End Sub
</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <uc1:Listing25 ID="Listing251" runat="server" />
    </div>
    </form>
</body>
</html>