﻿<%@ Page Language="VB" %>
<%@ Register src="Listing25-2.ascx" tagname="Listing25" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <uc1:Listing25 ID="Listing251" runat="server" />
    </div>
    </form>
</body>
</html>
