﻿ @import url('layout.css');

html, body 
{
	border: 0px;
	margin: 0px;
    font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
    font-size: 8pt;
}

body
{
    background-image: url(images/mainContentBG.jpg);
    background-repeat: repeat-x;
}

#SiteNav *
{
	text-align: left;
}
#SiteNav div,
#SiteNav span
{
    display: block;
}
#LeftMenu>li>span>a 
{ 
    text-transform: uppercase;
}
#LeftMenu .desc
{
    color: #999;
    padding: 0;
    margin: 0;
}
#LeftMenu li:first-child ul 
{ 
    white-space: nowrap; 
    width: 25em !important; 
}

.Footer {
	clear: both;
	width: 100%;
	height: 105px;
}
.Footer td
{
    padding-right: 6px;
}
.downloadButton a, 
.downloadButton a:hover
{
    width: 197px;
    height: 86px;
    display: block;
}
.footerText p
{
    margin: 0;
    padding: 0;
}
.footerMenu
{
    list-style: none;
    display: block;
}
.footerMenu A, 
#ActionBar A
{
    color: #0569CD;
}
.footerMenu li
{
	float: left;
	position: relative;
    background-image: none;
    background-repeat:no-repeat;
    list-style-type:none;
    padding-right: 18px;
}
.footerImage
{
    margin: 10px 10px 0;
}

#topRightMenuWrapper DIV
{
    display: inline;
}

#topRightMenuWrapper .logoutLink, 
#topRightMenuWrapper .loginLink
{
    margin-left: 5px;
}



#MenuLeftImg 
{
	font: none;
	float: left;
	width: 7px;
	height: 36px;
	background: url(images/menuLeft.jpg) top left no-repeat;
	color: #800000;
	font-size: 12px;
}
#nav_bar * { vertical-align: middle; }	
#nav_bar img
{
    float:left;
    padding: 0 10px 10px 0;
}
#nav_bar a,
#nav_bar a:visited,
#nav_bar a:active 
{
	color: #000;
	text-decoration: none;
}

#nav_bar>ul>li, 
#nav_bar>ul>li>span>a,
#nav_bar>ul>li>span>a:visited,
#nav_bar>ul>li>span>a:active
{
	color: #FFF;
	font-weight: bold;
}
#nav_bar ul li, 
#nav_bar ul li span a,
#nav_bar ul li span a:visited,
#nav_bar ul li span a:active
{
	color: #FFF;
}
#nav_bar>ul>li>ul>li 
{
	text-transform: none;
	font-weight: normal;
	font-size: 11px;
	color: #000;
}		
#nav_bar ul li ul li a ,
#nav_bar ul li ul li a:visited ,
#nav_bar ul li ul li a:active 
{
	color: #000;
}	




.IE6 .footerMenu, 
.IE7 .footerMenu
{
    margin-left: 0px !important;
    text-align: none;
}