﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    
    <link href="SpringStyles.css" rel="stylesheet" type="text/css" />
    <style>
        .search
        {
            color:White;
            font-weight:bolder;
            background-color:Green;
        }
    </style>
</head>
<body>   
    <form id="form1" runat="server">
        <asp:Button ID="Button1" CssClass="search" runat="server" Text="Button" />
    </form>
</body>
</html>
