﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Internal CSS Sample</title>
    <style type="text/css">
        div
        {
             font-family:Arial;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <div>Lorum Ipsum</div>
    </div>
    </form>
</body>
</html>
