﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Combining Selector Types</title>
    <style type="text/css">
        .title
        {
            font-family:Courier New;
        }

        div.title
        {
            font-family:Arial;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <p class="title">Lorum Ipsum</p>
        <div class="title">Lorum Ipsum</div>
    </form>
</body>
</html>
