<%@ Page Language="VB" %>

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>STLNET</title>
</head>
<body>
    <form id="form1" runat="server">
        <h1>St. Louis .NET User Group</h1><br />
        <asp:Textbox ID="TextBox1" Runat="server" /><br />
        <br />
        <asp:Calendar ID="Calendar1" Runat="server" /><br />
        <asp:Button ID="Button1" Runat="server" Text="Button" />
    </form>
</body>
</html>
