﻿<%@ Page Language="C#" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">
    protected void Page_Load(object sender, EventArgs e)
    {
        dynamic contact = new System.Dynamic.ExpandoObject();
        contact.Name = "John Doe";
        contact.Phone = "201-555-5555";
        contact.Address = new System.Dynamic.ExpandoObject();
        contact.Address.Street = "123 Main St";
        contact.Address.City = "Anywhere";
        contact.Address.State = "WA";
        contact.Address.Postal = "12345";
    }
</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
       
    </div>
    </form>
</body>
</html>
